<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Feedback</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">


            <form ng-submit="addFeedback()">
                <ion-radio ng-model="newFeedback.choice" ng-value="'happy'">Happy</ion-radio>
                <ion-radio ng-model="newFeedback.choice" ng-value="'unhappy'">Unhappy</ion-radio>

                <input type="submit" class="btn btn-default" value="Submit feedbvack">

            </form>

        </div>
    </ion-content>

</ion-view>
