<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Numisma</h1>
    </ion-header-bar>

    <ion-content>
        <div class="content">
            <div class="card" ng-repeat="receipt in receipts">
              <div class="item item-divider">
                {{receipt.store}}
              </div>
              <div class="item">
                {{receipt.amount | currency : '£'}}
              </div>
              <div class="item">
                <span am-time-ago="receipt.receiptDate"></span>

              </div>
              <div class="item">
                {{receipt.uid}}
              </div>
            </div>
        </div>
    </ion-content>

</ion-view>
