<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Login</h1>
    </ion-header-bar>

    <ion-content>
      <div class="content content-centered">
          <div class="card">
            <div class="item item-divider">
              Sorry, you need to login to access this resource.
            </div>

            <div class="item">
              <button class="button button-positive button-full" ng-click="loginWithGoogle()">
                Login with Google
              </button>
            </div>
          </div>
      </div>
    </ion-content>

</ion-view>
