<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Add a receipt</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">


            <form ng-submit="receiptForm.$valid && addReceipt()" novalidate name="receiptForm" class="content-centered">

              <div class="card" ng-show="!newFeedback.option">
                <label class="item item-input">
                  <span class="input-label">Date</span>
                  <input required type="date" ng-model="newReceipt.date">
                </label>
                <label class="item item-input">
                  <span class="input-label">Store</span>
                  <input required type="text" ng-model="newReceipt.store">
                </label>
                <label class="item item-input">
                  <span class="input-label">Total</span>
                  <input required type="number" ng-model="newReceipt.amount" min="0.01" step="0.01">
                </label>
              </div>

              <div class="padding">
                <button type="submit" class="button button-block button-positive activated" ng-disabled="receiptForm.$invalid">Submit receipt</button>
              </div>

            </form>

        </div>
    </ion-content>

</ion-view>
